/* 공통 부분 */
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
  height: 6000px;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.inner {
  position: relative;
  width: 1100px;
  margin: 0 auto; /* 가운데 정렬 */
}

.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 3px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: 0.5s;
}

.btn:hover {
  background-color: #333;
  color: #fff;
}

.btn.btn--reverse {
  background-color: #333;
  color: #fff;
}

.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333;
}
.btn.btn--white {
  color: #fff;
  border-color: #fff;
}

.btn.btn--white:hover {
  color: #333;
  background-color: #fff;
}

.text-group .title {
  font-family: 'Black Han Sans', sans-serif;
  font-size: 48px;
}

.text-group .description {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 32px;
}

/* header 영역 */
header {
  position: fixed;
  width: 100%; /* position fixed와 absolute는 가로 길이가 최대한으로 줄어드려는 성질이 있음*/
  background-color: #fff;
  border-bottom: 1px solid #c8c8c8;
  top: 0;
  z-index: 9;
}

header > .inner {
  height: 120px;
}

header .logo {
  height: 60px;
  position: absolute;
  /* 수직 가운데 배치 */
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

header .logo p {
  font-family: 'Black Han Sans', sans-serif;
  font-size: 50px;
  color: #333;
}

header .sub-menu {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
}

header .sub-menu ul.menu {
  font-family: Arial, sans-serif;
  display: flex;
}

header .sub-menu ul.menu li {
  position: relative;
}

header .sub-menu ul.menu li::before {
  content: '';
  display: block; /* position이 absolute 이므로 명시하지 않아도 됨 */
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

header .sub-menu ul.menu li:first-child:before {
  content: '';
  display: none;
}

header .sub-menu ul.menu li a {
  display: block;
  font-size: 12px;
  padding: 11px 16px; /* 클릭할수 있는 범위를 늘리기 위함 */
  color: #656565;
}

header .sub-menu ul.menu li a:hover {
  color: #000;
}

header .sub-menu .search {
  height: 34px;
  position: relative;
}

header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  font-size: 12px;
  transition: width 0.5s;
}

header .sub-menu .search input:focus {
  width: 190px;
  border-color: #333;
}

header .sub-menu .search .material-icons {
  height: 24px; /* material 아이콘의 높이 */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: 0.5s;
}

/* search에 포커스가 왔을 때 아이콘을 안보이도록 처리 */
header .sub-menu .search.focused .material-icons {
  opacity: 0;
}

header .main-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
}

header .main-menu .item {
}

header .main-menu .item .item__name {
  padding: 10px 20px 20px 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

header .main-menu .item:hover .item__name {
  background-color: #333;
  color: #fff;
  border-radius: 6px 6px 0 0;
}

header .main-menu .item .item__contents {
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}

header .main-menu .item:hover .item__contents {
  display: block;
}

header .main-menu .item .item__contents .contents__menu {
  background-color: #333;
}

header .main-menu .item .item__contents .contents__menu > ul {
  display: flex;
  padding: 20px 0;
}

header .main-menu .item .item__contents .contents__menu > ul > li {
  width: 220px;
}

header .main-menu .item .item__contents .contents__menu > ul > li h4 {
  padding: 3px 0 12px 0;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

header .main-menu .item .item__contents .contents__menu > ul > li ul li {
  padding: 5px 0;
  font-size: 14px;
  color: #999;
  cursor: pointer;
}

header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
  color: #fff;
}

header .badges {
  position: absolute;
  top: 132px;
  right: 12px;
}

header .badges .badge {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* visual 영역 */
.visual {
  margin-top: 120px;
  background-color: #000;
  background-position: center;
}

.visual .inner {
  height: 646px;
}

.visual .title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -10px;
}

.visual .title .btn {
  position: absolute;
  top: 259px;
  left: 173px;
}

.visual .bunker1.image {
  position: absolute;
  top: 30%;
  transform: translateY(-30%);
  right: 100px;
  border-radius: 20px;
}

.visual .bunker2.image {
  position: absolute;
  top: 80%;
  transform: translateY(-80%);
  right: 162px;
  border-radius: 20px;
}

.visual .fade-in {
  opacity: 0;
}

/* notice 영역 */
.notice {
}

.notice .notice-line {
  position: relative;
}

.notice .notice-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #000;
}

.notice .notice-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #fff;
}

/* 이 속성으로만 height를 편하게 조정할 수 있다. */
.notice .notice-line .inner {
  height: 62px;
  display: flex;
}

.notice .notice-line .inner__left {
  width: 60%;
  height: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
}

.notice .notice-line .inner__left h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}

.notice .notice-line .inner__left .swiper-container {
  height: 62px;
  flex-grow: 1; /* 최대한 늘어나도록 */
}

.notice .notice-line .inner__left .swiper-slide {
  height: 62px;
  display: flex;
  align-items: center;
}

.notice .notice-line .inner__left .swiper-slide a {
  color: #fff;
}

.notice .notice-line .inner__left .notice-line__more {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice .notice-line .inner__left .notice-line__more .material-icons {
  color: #fff;
  font-size: 30px;
}

.notice .notice-line .inner__right {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.notice .notice-line .inner__right h2 {
  font-size: 17px;
  font-weight: 700;
}

.notice .notice-line .inner__right .toggle-place {
  width: 62px;
  height: 62px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice .notice-line .inner__right .toggle-place .material-icons {
  font-size: 30px;
}

.notice .place {
  height: 693px;
  background-color: #fff;
  position: relative;
  transition: 0.5s;
  overflow: hidden;
}

.notice .place.hide {
  height: 0;
}

.notice .place .swiper-container {
  width: calc(819px * 3 + 20px);
  height: 700px;

  /* 요소를 확대시켜도 가운데로 유지 */
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  /* margin-left: calc((819px * 3 + 20px / -2)); 요소 width의 50%를 빼준다. */
}

.notice .place .swiper-slide {
  opacity: 0.3;
  transition: opacity 1s;
  position: relative;
}

.notice .place .swiper-slide-active {
  opacity: 1;
}

.notice .place .swiper-slide .btn {
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  margin: auto;
}

.notice .place .swiper-pagination {
  /* swiper 라이브러리에 position 값이 들어 있기 때문에 아래 속성 사용 가능 */
  bottom: 50px;
  left: 0;
  right: 0;
}

.notice .place .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin-right: 6px;
  border-radius: 0;
  outline: none;
}

.notice .place .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}

.notice .place .swiper-pagination .swiper-pagination-bullet-active {
  background: #000;
}

.notice .place .swiper-prev,
.notice .place .swiper-next {
  width: 30px;
  height: 30px;
  border: 2px solid #000;
  position: absolute;
  top: 300px;
  z-index: 1;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.notice .place .swiper-prev {
  left: 50%;
  margin-left: -480px;
}

.notice .place .swiper-next {
  right: 50%;
  margin-right: -480px;
}

.notice .place .swiper-prev:hover,
.notice .place .swiper-next:hover {
  background-color: #000;
  color: #fff;
}

.youtube {
  position: relative;
  height: 700px;
  overflow: hidden;
  background-color: #333;
}

.youtube .youtube__area {
  width: 1920px;
  background-color: orange;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.youtube .youtube__area::before {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  padding-top: 56.25%; /* 16 : 9 비율 */
}

.youtube .youtube__cover {
  background-image: url('../images/video_cover_pattern.png');
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.youtube .inner {
  height: 700px;
}

.youtube .floating1 {
  position: absolute;
  top: 50px;
  left: 0;
}

.product {
  background-image: url('../images/product_bg.jpg');
}

.product .inner {
  height: 400px;
}

.product .floating2 {
  position: absolute;
  top: -95px;
  right: 0;
}

.product .text-group {
  position: absolute;
  top: 100px;
  right: 20px;
}

.product .text-group .title {
  margin-bottom: 10px;
}

.product .text-group .description {
  margin-bottom: 15px;
}

.product .text-group .more {
}

.food {
  background-image: url('../images/food_bg.png');
}

.food .inner {
  height: 400px;
}

.food .food-logo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto 0;
}

.food .text-group {
  position: absolute;
  top: 124px;
  left: 450px;
}

.food .text-group .description {
}

.food .food-product {
  position: absolute;
  top: 0;
  right: 0;
}

.road {
  background-image: url('../images/road_bg.png');
  background-repeat: no;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.road .inner {
  padding: 200px 0;
}

.road .floating3 {
  position: absolute;
  top: 0;
  right: 0;
}
